.App {
    font-family: sans-serif;
    text-align: center;
    padding: 1.5rem;
}

.photo {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}


/* .btn-like, 
.btn-dislike{
  font-size: 1.2 px;
} */

.btn-like {
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.btn-dislike {
    padding: 5px;
}

.user-container {
    padding: 15rem;
}